footer {
	background-color: $background-color_footer;
	padding: 20px 145px;
}
.footer__container {
	display: grid;
	grid-template-columns: 1fr 40% 1fr;
	grid-template-rows: minmax(80px, auto);
	padding-top: 20px;
	padding-bottom: 50px;
}
.footer__project-info {
	display: flex;
	align-items: start;
	p {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		margin-left: 12px;
		font-weight: 200;
		padding-top: 2px;
	}
}
.footer__logo {
	width: 20px;
}
.footer__address {
	font-size: 16px;
	line-height: 20px;
	font-weight: 200;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	p {
		color: $color_footer-copyright;
	}
}
.footer__copyright {
	color: $color_footer-copyright;
	align-self: flex-end;
	font-weight: 200;
}
