header {
	padding: 50px;
}
.header__container {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: fit-content;
	gap: 100px;
}
.header__nav-list {
	display: flex;
	padding-left: 50px;
	padding-right: 220px;
	>li {
		list-style: none;
		>a {
			font-size: 12px;
			padding: 0 15px;
			letter-spacing: 0.2em;
			font-weight: 200;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.header__project-name {
	>a {
		font-size: 18px;
		line-height: 14px;
		letter-spacing: 0.1em;
	}
}
