$font-family_main: 'Oswald', sans-serif;
.hero {
	position: relative;
	top: 37%;
	transform: translateY(-50%);
}
.hero__container {
	width: 426px;
	margin: 0 auto;
	text-align: center;
}
.hero__logo {
	width: 63px;
}
h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 55px;
	letter-spacing: 0em;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: $font-family_main;
}
.hero__description {
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 32px;
	color: $color_hero-description;
}