.learn-more {
	background-image: url('/assets/img/learn_more_background.png');
	height: 620px;
	h1 {
		color: $color_white;
	}
	>button {
		width: 150px;
		height: 150px;
		border-radius: 100%;
		border: none;
		cursor: pointer;
		margin: 50px 0;
		background-color: transparent;
	}
}
.learn-more__container {
	padding: 80px 140px;
	text-align: center;
	background: rgba(140, 79, 42, 0.3);
}
.learn-more__description {
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 20px;
	font-weight: 200;
	font-size: 22px;
	line-height: 32px;
	width: 350px;
}
