.main-content {
	background-color: $background-color_main-content;
	h1 {
		color: $color_main-content_dark-gray;
	}
	button {
		font-family: $font-family_main;
		margin-top: 50px;
		padding: 5px 18px;
		border-radius: 18px;
		color: $color_white;
		background: #55C2D8;
		border: none;
		text-transform: uppercase;
		font-style: normal;
		font-weight: 200;
		font-size: 14px;
		line-height: 26px;
		text-align: center;
		letter-spacing: 0.1em;
	}
}
.main-content__container {
	padding: 100px 140px;
	text-align: center;
}
.main-content__description {
	>p {
		color: $color_main-content_gray;
		padding-top: 30px;
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
		line-height: 22px;
	}
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 85px;
	text-align: left;
}
.main-content__subheader {
	color: $color_main-content_gray;
	font-weight: 200;
	font-size: 24px;
	line-height: 32px;
	padding-top: 20px;
}