.btn-read-more {
	transform-origin: left;
	transition-duration: 0.5s;
	&:hover {
		transform: rotate(10deg);
		transition-duration: 0.5s;
	}
}
.btn-play {
	transition-duration: 0.5s;
	&:hover {
		transform: scale(1.2);
		transition-duration: 0.5s;
		path {
			fill: white;
			transition-duration: 0.5s;
		}
		ellipse {
			fill: #39C2D7;
			transition-duration: 0.5s;
		}
	}
	path {
		transition-duration: 0.5s;
	}
	ellipse {
		transition-duration: 0.5s;
	}
}
.hero-logo {
	transition-duration: 0.5s;
	&:hover {
		transition-duration: 0.5s;
		transform: rotateY(180deg) scale(1.5);
	}
}
.top-background {
	width: auto;
	>img {
		position: absolute;
		width: 1200px;
	}
}
.top-background__stars {
	z-index: -10;
	animation: background-stars-animation 3s ease-in-out infinite alternate;
	transform-origin: right;
}
.top-background__lines {
	z-index: -20;
	animation: background-stars-lines 3s ease-in-out infinite alternate;
}
.top-background__main {
	z-index: -30;
}


@keyframes background-stars-animation {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}
@keyframes background-stars-lines {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}
