@media screen and (max-width: 768px) {
	body {
		max-width: 100%;
	}
	nav {
		visibility: hidden;
	}
	.container {
		text-align: center;
		padding: 90px 30px;
	}
	.main-content-description {
		text-align: left;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 5px;
	}
	.footer-project-info {
		height: 10px;
		justify-content: center;
	}
	.footer-container {
		grid-template-columns: 1fr;
		width: auto;
	}
	.menu-btn {
		height: 20px;
		visibility: visible;
		padding-left: 420px;
	}
	.background-place {
		>img {
			object-fit: cover;
			object-position: -430px 0px;
		}
	}
}