$font-family_main: 'Oswald', sans-serif;
$background-color_footer: #464547;
$background-color_main-content: #EEEEEE;
$color_white: #fff;
$color_main-content_dark-gray: #464547;
$color_main-content_gray: #666666;
$color_footer-copyright: rgba(255, 255, 255, 0.4);
$color_hero-description: rgba(255, 255, 255, 0.7);