body {
	width: 1200px;
	margin: 0 auto;
	background-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

.main-frame {
	max-width: 1200px;
	height: 790px;
}