@import url("https://fonts.cdnfonts.com/css/source-sans-pro");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
body {
  width: 1200px;
  margin: 0 auto;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.main-frame {
  max-width: 1200px;
  height: 790px;
}

@media screen and (max-width: 768px) {
  body {
    max-width: 100%;
  }
  nav {
    visibility: hidden;
  }
  .container {
    text-align: center;
    padding: 90px 30px;
  }
  .main-content-description {
    text-align: left;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }
  .footer-project-info {
    height: 10px;
    justify-content: center;
  }
  .footer-container {
    grid-template-columns: 1fr;
    width: auto;
  }
  .menu-btn {
    height: 20px;
    visibility: visible;
    padding-left: 420px;
  }
  .background-place > img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -430px 0px;
       object-position: -430px 0px;
  }
}
.btn-read-more {
  transform-origin: left;
  transition-duration: 0.5s;
}
.btn-read-more:hover {
  transform: rotate(10deg);
  transition-duration: 0.5s;
}

.btn-play {
  transition-duration: 0.5s;
}
.btn-play:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.btn-play:hover path {
  fill: white;
  transition-duration: 0.5s;
}
.btn-play:hover ellipse {
  fill: #39C2D7;
  transition-duration: 0.5s;
}
.btn-play path {
  transition-duration: 0.5s;
}
.btn-play ellipse {
  transition-duration: 0.5s;
}

.hero-logo {
  transition-duration: 0.5s;
}
.hero-logo:hover {
  transition-duration: 0.5s;
  transform: rotateY(180deg) scale(1.5);
}

.top-background {
  width: auto;
}
.top-background > img {
  position: absolute;
  width: 1200px;
}

.top-background__stars {
  z-index: -10;
  -webkit-animation: background-stars-animation 3s ease-in-out infinite alternate;
          animation: background-stars-animation 3s ease-in-out infinite alternate;
  transform-origin: right;
}

.top-background__lines {
  z-index: -20;
  -webkit-animation: background-stars-lines 3s ease-in-out infinite alternate;
          animation: background-stars-lines 3s ease-in-out infinite alternate;
}

.top-background__main {
  z-index: -30;
}

@-webkit-keyframes background-stars-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes background-stars-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes background-stars-lines {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes background-stars-lines {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
header {
  padding: 50px;
}

.header__container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 100px;
}

.header__nav-list {
  display: flex;
  padding-left: 50px;
  padding-right: 220px;
}
.header__nav-list > li {
  list-style: none;
}
.header__nav-list > li > a {
  font-size: 12px;
  padding: 0 15px;
  letter-spacing: 0.2em;
  font-weight: 200;
}
.header__nav-list > li > a:hover {
  text-decoration: underline;
}

.header__project-name > a {
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 0.1em;
}

.hero {
  position: relative;
  top: 37%;
  transform: translateY(-50%);
}

.hero__container {
  width: 426px;
  margin: 0 auto;
  text-align: center;
}

.hero__logo {
  width: 63px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Oswald", sans-serif;
}

.hero__description {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
}

.main-content {
  background-color: #EEEEEE;
}
.main-content h1 {
  color: #464547;
}
.main-content button {
  font-family: "Oswald", sans-serif;
  margin-top: 50px;
  padding: 5px 18px;
  border-radius: 18px;
  color: #fff;
  background: #55C2D8;
  border: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
}

.main-content__container {
  padding: 100px 140px;
  text-align: center;
}

.main-content__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 85px;
  text-align: left;
}
.main-content__description > p {
  color: #666666;
  padding-top: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
}

.main-content__subheader {
  color: #666666;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  padding-top: 20px;
}

.learn-more {
  background-image: url("/assets/img/learn_more_background.png");
  height: 620px;
}
.learn-more h1 {
  color: #fff;
}
.learn-more > button {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  margin: 50px 0;
  background-color: transparent;
}

.learn-more__container {
  padding: 80px 140px;
  text-align: center;
  background: rgba(140, 79, 42, 0.3);
}

.learn-more__description {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 200;
  font-size: 22px;
  line-height: 32px;
  width: 350px;
}

footer {
  background-color: #464547;
  padding: 20px 145px;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: minmax(80px, auto);
  padding-top: 20px;
  padding-bottom: 50px;
}

.footer__project-info {
  display: flex;
  align-items: start;
}
.footer__project-info p {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-left: 12px;
  font-weight: 200;
  padding-top: 2px;
}

.footer__logo {
  width: 20px;
}

.footer__address {
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__address p {
  color: rgba(255, 255, 255, 0.4);
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.4);
  align-self: flex-end;
  font-weight: 200;
}/*# sourceMappingURL=styles.css.map */